@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Space+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

h1,
h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: #e56c0a;
    font-weight: bold;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

/* NAVIGATION BAR SETTINGS */
/* ------------------------*/

.header {
    background: #fff;
    height: 75px;
    border-bottom: 2px solid black;
}

.header .logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #e56c0a;
    font-size: 28px;
    font-weight: 900;
}

.header a {
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.header .container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header ul {
    display: flex;
    flex-flow: wrap;
}

.header ul li {
    margin-left: 25px;
}

.nav a:hover {
    color: #e56c0a;
}

nav a.active {
    color: #e56c0a;
}

/* MAIN IMAGE BELOW NAVIGATION BAR SETTINGS */
/* ------------------------*/
.main-section {
    height: 500px;
    width: 100%;
    border-bottom: 2px solid black;
}

.main-section-image {
    color: #e56c0a;
    height: 100%;
    width: 100%;
    background: url('../images/fitness_factory_main.webp') no-repeat center center;
    /* APLYING MAIN IMAGE TRANSFORMATION*/
    animation-name: opacity-up;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* IMAGE TRANSFORMATION */
@keyframes opacity-up {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

.main-section-image .container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;
}

.main-heading {
    margin-bottom: 25px;
    background-color: #e56c0a;
    padding: 20px;
    flex-basis: 60%;
    border: 2px solid black;
}

.main-heading h1 {
    color: #fff;
    font-size: 28x;
}

.main-heading p {
    color: #fff;
    font-size: 18px;
    text-align: justify;
}

/* MAIN SECTION IMAGE FOR NUTRITION */
.main-section-nutrition-image {
    color: #e56c0a;
    height: 100%;
    width: 100%;
    background: url('../images/fitness_factory_main_nutrition.jpg') no-repeat center center;
    /* APLYING MAIN IMAGE TRANSFORMATION*/
    animation-name: opacity-up;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.main-section-nutrition-image .container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;
}

/* MAIN SECTION IMAGE FOR PROGRAM */
.main-section-program-image {
    color: #e56c0a;
    height: 100%;
    width: 100%;
    background: url('../images/fitness_factory_main_program.jpg') no-repeat center center;
    /* APLYING MAIN IMAGE TRANSFORMATION*/
    animation-name: opacity-up;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.main-section-program-image .container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;
}

/* MAIN SECTION IMAGE FOR SING UP */
.main-section-signup-image {
    color: #e56c0a;
    height: 100%;
    width: 100%;
    background: url('../images/fitness_factory_main_signup.jpg') no-repeat center center;
    /* APLYING MAIN IMAGE TRANSFORMATION*/
    animation-name: opacity-up;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.main-section-signup-image .container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;
}

/* FITNESS EQUIPMENT */
#fitness-equipment {
    background-color: #e56c0a;
    padding: 20px;
    border-bottom: 2px solid black;
}

#fitness-equipment .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    font-weight: 600;
    background-color: #fff;
    border-radius: 3%;
    text-align: center;
    flex: 40%;
    margin: 10px 10px;
    padding: 15px 20px;
    line-height: 1.6;
    border: 2px solid black;
}

.card p {
    font-size: 18px;
    text-align: justify;
    color: #000;
}

.card h2 {
    font-size: 28px;
    color: #e56c0a;
    text-align: center;
}

.card img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 25px;
    border: 5px solid #e56c0a;
}

/* NUTRITION INFORMATION */
.nutrition-info {
    background-color: #e56c0a;
    padding: 20px;
    border-bottom: 2px solid black;
}

.nutrition-info .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: middle;
}

.nutrition-left {
    background-color: #fff;
    padding: 20px;
    flex: 30%;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nutrition-left img {
    background-color: #fff;
    padding: 20px;
    max-width: 250px;
    max-height: 250px;
}

.nutrition-right {
    background-color: #fff;
    padding: 20px;
    flex: 70%;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.nutrition-right p {
    font-size: 18px;
    text-align: justify;
}

/* PROGRAM INFORMATION */


/* FOOTER */
#my-footer {
    background-color: #fff;
}

#my-footer i {
    font-size: 36px;
    margin-right: 25px;
    color: #fff
}

#my-footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-card {
    flex: 1;
    text-align: justify;
    color: #fff;
    margin: 20px 10px;
    padding: 15px 20px;
    background-color: #e56c0a;
    border-radius: 3%;
    border: 2px solid black;
}

.footer-card span {
    font-weight: 700;
}

.footer-card p {
    margin-top: 25px;
    font-size: 18px;
}

.footer-card h2 {
    font-size: 28px;
    color: #fff;
    margin-top: 15px;
    border-bottom: 3px solid #fff;
}

/*SIGN UP */
.program-info {
    background-color: #e56c0a;
    padding: 20px;
    border-bottom: 2px solid black;
}

.program-info .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.program-one {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 20%;
    margin-bottom: 20px;
}

.program-two {
    background-color: dodgerblue;
    padding: 10px;
    flex: 20%;
    margin-bottom: 20px;
}

.program-three {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 60%;
    margin-bottom: 20px;
}

#signup-form {
    background-color: #e56c0a;
    padding: 20px;
    border-bottom: 2px solid black;
}

#signup-form .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sign-card {
    font-weight: 600;
    background-color: #fff;
    border-radius: 3%;
    text-align: left;
    flex: 40%;
    margin: 10px 10px;
    padding: 15px 20px;
    line-height: 1.6;
    border: 2px solid black;
    font-size: 18px;
}

.sign-card p {
    font-size: 18px;
    text-align: justify;
    color: #000;
}

.sign-card h3 {
    font-size: 28px;
    color: #e56c0a;
    text-align: center;
    text-transform: capitalize;
}

.sign-card img {
    width: 300px;
    height: 300px;
    border-radius: 50%;

    margin-bottom: 20px;
    text-align: center;
    padding: 25px;
    border: 5px solid #e56c0a;
}

input[type=text],
select,
[type=date],
[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #e56c0a;
    box-sizing: border-box;
}

input[type=radio] {
    display: inline-block;
}

input[type=submit],
[type=reset] {
    width: 30%;
    background-color: #e56c0a;
    color: #fff;
    font-weight: bold;
    padding: 14px 20px;
    margin: 15px 0px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
}

input[type=submit]:hover,
[type=reset]:hover {
    background-color: #fff;
    color: #e56c0a;
    border: 1px solid #e56c0a;
}

/*RESPONSIVE FOR SMALLER DEVICES */
@media (max-width: 768px) {
    .main-section-image .container {
        align-items: center;
        justify-content: center;
    }

    #fitness-equipment .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .program-one {
        flex: 100%;
        text-align: center;
    }

    .program-one img {
        width: 100%;
    }

    .program-two img {
        width: 100%;
    }

    .program-two {
        flex: 100%;
        text-align: center;
    }

    .program-three {
        flex: 100%;
    }

    #signup-form .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .sign-card {
        flex: 100%;
    }

    .card {
        flex: 100%;
    }

    #my-footer .container {
        flex-direction: column;
    }

    .footer-card {
        text-align: left;
    }
}

@media (max-width: 428px) {
    .header {
        height: 150px;
    }

    .main-section-image .container {
        align-items: end;
        justify-content: center;
    }

    .footer-card {
        flex: 100%;
    }
}