@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Space+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

h1,
h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: #e56c0a;
    font-weight: bold;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

/* NAVIGATION BAR SETTINGS */
/* ------------------------*/

.header {
    background: #fff;
    height: 75px;
    border-bottom: 2px solid black;
}

.header .logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #e56c0a;
    font-size: 28px;
    font-weight: 900;
}

.header a {
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.header .container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header ul {
    display: flex;
    flex-flow: wrap;
}

.header ul li {
    margin-left: 25px;
}

.nav a:hover {
    color: #e56c0a;
}

nav a.active {
    color: #e56c0a;
}

/* MAIN IMAGE BELOW NAVIGATION BAR SETTINGS */
/* ------------------------*/
.main-section {
    height: 600px;
    width: 100%;
    border-bottom: 2px solid black;
}

.main-section-image {
    color: #e56c0a;
    height: 100%;
    width: 100%;
    background: url('../images/fitness_factory_main.jpg') no-repeat center center;
    /* APLYING MAIN IMAGE TRANSFORMATION*/
    animation-name: opacity-up;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* IMAGE TRANSFORMATION */
@keyframes opacity-up {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

.main-section-image .container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;
    }

.main-heading {
    margin-bottom: 25px;
    background-color: #e56c0a;
    padding: 20px;
    flex-basis: 60%;
    border-radius: 3%;
    border: 2px solid black;
}

.main-heading h1 {
    color: #fff;
    font-size: 35px;
}

.main-heading p {
    color: #fff;
    font-size: 25px;
    text-align: justify;
}

/* MAIN SECTION IMAGE FOR NUTRITION */
.main-section-nutrition-image {
    color: #e56c0a;
    height: 100%;
    width: 100%;
    background: url('../images/fitness_factory_main_nutrition.jpg') no-repeat center center;
}

.main-section-nutrition-image .container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;
    }

 /* MAIN SECTION IMAGE FOR PROGRAM */
 .main-section-program-image {
    color: #e56c0a;
    height: 100%;
    width: 100%;
    background: url('../images/fitness_factory_main_program.jpg') no-repeat center center;
}

.main-section-program-image .container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: end;
    }
/* FITNESS EQUIPMENT */
#fitness-equipment{
    background-color: #e56c0a;
    padding: 20px;
    border-bottom: 2px solid black;
}
#fitness-equipment .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    font-weight: 600;
    background-color: #fff;
    border-radius: 3%;
    text-align: center;
    flex: 40%;
    color: #e56c0a;
    margin: 10px 10px;
    padding: 15px 20px;
    line-height: 1.6;
    border: 2px solid black;
}

.card p{
    font-size: 20px;
    text-align: justify;
}
.card h2{
    font-size: 35px;
    color: #e56c0a;
    text-align: center;
}
.card img{
    max-width: 180px;
    max-height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 25px;
    border: 5px solid #e56c0a;
}

/* FOOTER */
#my-footer{
    background-color:#fff;
}

#my-footer i{
    font-size:36px;
    margin-right: 25px;
    color:#fff
}
#my-footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-card {
    flex: 1;
    text-align: justify;
    color: #fff;
    margin: 20px 10px;
    padding: 15px 20px;
    background-color: #e56c0a;
    border-radius: 3%;
    border: 2px solid black;
}
.footer-card span{
    font-weight: 700;
  }
  .footer-card p{
    margin-top: 15px;
  }
  .footer-card h2{
    color:#fff;
    margin-top: 15px;
    border-bottom: 2px solid #fff;
  }

  
/*RESPONSIVE FOR SMALLER DEVICES */
@media (max-width: 768px) {
    .main-section-image .container {
        align-items: center;
        justify-content: center;
    }
    #fitness-equipment .container {
      flex-direction: column;
      padding-top: 20px;
      text-align: center;
    }
    .card{
        flex:100%;
    }
    #my-footer .container{
        flex-direction: column;
    }
    .footer-card{
       
    }
  }
  @media (max-width: 428px){
    .header{
        height: 150px;
    }
    .main-section-image .container{
        align-items: end;
        justify-content: center;
    }
    .footer-card{
        flex: 100%;
    }
  }